.container {
    display: inline-grid;
    grid-template: 80px 80px 80px 80px 80px / 80px 80px 80px 80px 80px;
    background-color: lightblue;
    grid-template-areas:
        "living-room    living-room     living-room     living-room     living-room"
        "living-room    living-room     living-room     living-room     living-room"
        "bedroom        bedroom         bathroom        kitchen         kitchen"
        "bedroom        bedroom         bathroom        kitchen         kitchen"
        "closet         closet          bathroom        kitchen         kitchen"
}

.room {
    border: 1px solid;
    font-size: 100%;
    text-align: center;
}

#living-room {
    /*grid-area: 1 / 1 / 3 / 6;*/
    grid-area: living-room;
}

#kitchen {
    /*grid-area: 3 / 4 / 6 / 6;*/
    grid-area: kitchen;
}

#bedroom {
    /*grid-area: 3 / 2 / 5 / 4;*/
    grid-area: bedroom;
}

#bathroom {
    /*grid-area: 3 / 1 / 6 / 1;*/
    grid-area: bathroom;
}

#closet {
    /*grid-area: 5 / 2 / 5 / 4;*/
    grid-area: closet;
}